body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

.row-ctrl {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x) * -.5);
	margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row-ctrl > * {
  flex: 0 0 auto;
  width: 50%;
}

.demo8 {
  background: url("/images/demo8.webp") no-repeat;
  background-size: cover;
  background-position: center;
  border-left: 1px solid var(--bs-dark);
}
.demo6 {
  background: url("/images/demo5.webp") no-repeat;
  background-size: cover;
  background-position: center;
  border-right: 1px solid var(--bs-dark);
}
.demo6 > div, .demo8 > div {
  height: 100%;
  width: 100%;
  background: rgba(8, 8, 8, 0.747);
}

@media only screen and (max-width: 800px) {
    .row-ctrl > * {
      width: 100%;
    }
    .demo8 {
      border: none;
      border-top: 1px solid var(--bs-dark);
    }
    .demo6 {
      border: none;
      border-bottom: 1px solid var(--bs-dark);
    }
}


