 [role="progressbar"][aria-busy="true"] {
  position: relative;
  width: 70px;
  height: 70px;
}
[role="progressbar"][aria-busy="true"]::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  content: '';
  box-shadow: 25px 0 0 rgba(255, 255, 255, 0), 50px 0 0 rgba(255, 255, 255, 0), 0 -25px 0 rgba(255, 255, 255, 0), 25px -25px 0 rgba(255, 255, 255, 0), 50px -25px 0 rgba(255, 255, 255, 0), 0 -50px rgba(255, 255, 255, 0), 25px -50px rgba(255, 255, 255, 0), 50px -50px rgba(255, 255, 255, 0);
  animation: loader 5s linear forwards infinite;
}
[role="progressbar"][aria-busy="true"]::after {
  position: absolute;
  bottom: 10px;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #90ce1c;
  opacity: 0;
  content: '';
  animation: base 5s linear forwards infinite;
}

@keyframes base {
  0% {
    bottom: 10px;
    opacity: 0;
  }
  5%, 50% {
    bottom: 0;
    opacity: 1;
  }
  55%, 100% {
    bottom: -10px;
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    box-shadow: 25px -10px rgba(255, 255, 255, 0), 50px 0 rgba(255, 255, 255, 0), 0 -25px rgba(255, 255, 255, 0), 25px -25px rgba(255, 255, 255, 0), 50px -25px rgba(255, 255, 255, 0), 0 -50px rgba(255, 255, 255, 0), 25px -50px rgba(255, 255, 255, 0), 50px -50px rgba(255, 255, 255, 0);
  }
  5% {
    box-shadow: 25px -10px rgba(255, 255, 255, 0), 50px 0 rgba(255, 255, 255, 0), 0 -25px rgba(255, 255, 255, 0), 25px -25px rgba(255, 255, 255, 0), 50px -25px rgba(255, 255, 255, 0), 0 -50px rgba(255, 255, 255, 0), 25px -50px rgba(255, 255, 255, 0), 50px -50px rgba(255, 255, 255, 0);
  }
  10% {
    box-shadow: 25px 0 #90ce1c, 50px -10px rgba(255, 255, 255, 0), 0 -25px rgba(255, 255, 255, 0), 25px -25px rgba(255, 255, 255, 0), 50px -25px rgba(255, 255, 255, 0), 0 -50px rgba(255, 255, 255, 0), 25px -50px rgba(255, 255, 255, 0), 50px -50px rgba(255, 255, 255, 0);
  }
  15% {
    box-shadow: 25px 0 #90ce1c, 50px 0 #90ce1c, 0 -35px rgba(255, 255, 255, 0), 25px -25px rgba(255, 255, 255, 0), 50px -25px rgba(255, 255, 255, 0), 0 -50px rgba(255, 255, 255, 0), 25px -50px rgba(255, 255, 255, 0), 50px -50px rgba(255, 255, 255, 0);
  }
  20% {
    box-shadow: 25px 0 #90ce1c, 50px 0 #90ce1c, 0 -25px #90ce1c, 25px -35px rgba(255, 255, 255, 0), 50px -25px rgba(255, 255, 255, 0), 0 -50px rgba(255, 255, 255, 0), 25px -50px rgba(255, 255, 255, 0), 50px -50px rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 25px 0 #90ce1c, 50px 0 #90ce1c, 0 -25px #90ce1c, 25px -25px #90ce1c, 50px -35px rgba(255, 255, 255, 0), 0 -50px rgba(255, 255, 255, 0), 25px -50px rgba(255, 255, 255, 0), 50px -50px rgba(255, 255, 255, 0);
  }
  30% {
    box-shadow: 25px 0 #90ce1c, 50px 0 #90ce1c, 0 -25px #90ce1c, 25px -25px #90ce1c, 50px -25px #90ce1c, 0 -60px rgba(255, 255, 255, 0), 25px -50px rgba(255, 255, 255, 0), 50px -50px rgba(255, 255, 255, 0);
  }
  35% {
    box-shadow: 25px 0 #90ce1c, 50px 0 #90ce1c, 0 -25px #90ce1c, 25px -25px #90ce1c, 50px -25px #90ce1c, 0 -50px #90ce1c, 25px -60px rgba(255, 255, 255, 0), 50px -50px rgba(255, 255, 255, 0);
  }
  40% {
    box-shadow: 25px 0 #90ce1c, 50px 0 #90ce1c, 0 -25px #90ce1c, 25px -25px #90ce1c, 50px -25px #90ce1c, 0 -50px #90ce1c, 25px -50px #90ce1c, 50px -60px rgba(255, 255, 255, 0);
  }
  45%, 55% {
    box-shadow: 25px 0 #90ce1c, 50px 0 #90ce1c, 0 -25px #90ce1c, 25px -25px #90ce1c, 50px -25px #90ce1c, 0 -50px #90ce1c, 25px -50px #90ce1c, 50px -50px #90ce1c;
  }
  60% {
    box-shadow: 25px 10px rgba(255, 255, 255, 0), 50px 0 #90ce1c, 0 -25px #90ce1c, 25px -25px #90ce1c, 50px -25px #90ce1c, 0 -50px #90ce1c, 25px -50px #90ce1c, 50px -50px #90ce1c;
  }
  65% {
    box-shadow: 25px 10px rgba(255, 255, 255, 0), 50px 10px rgba(255, 255, 255, 0), 0 -25px #90ce1c, 25px -25px #90ce1c, 50px -25px #90ce1c, 0 -50px #90ce1c, 25px -50px #90ce1c, 50px -50px #90ce1c;
  }
  70% {
    box-shadow: 25px 10px rgba(255, 255, 255, 0), 50px 10px rgba(255, 255, 255, 0), 0 -15px rgba(255, 255, 255, 0), 25px -25px #90ce1c, 50px -25px #90ce1c, 0 -50px #90ce1c, 25px -50px #90ce1c, 50px -50px #90ce1c;
  }
  75% {
    box-shadow: 25px 10px rgba(255, 255, 255, 0), 50px 10px rgba(255, 255, 255, 0), 0 -15px rgba(255, 255, 255, 0), 25px -15px rgba(255, 255, 255, 0), 50px -25px #90ce1c, 0 -50px #90ce1c, 25px -50px #90ce1c, 50px -50px #90ce1c;
  }
  80% {
    box-shadow: 25px 10px rgba(255, 255, 255, 0), 50px 10px rgba(255, 255, 255, 0), 0 -15px rgba(255, 255, 255, 0), 25px -15px rgba(255, 255, 255, 0), 50px -15px rgba(255, 255, 255, 0), 0 -50px #90ce1c, 25px -50px #90ce1c, 50px -50px #90ce1c;
  }
  85% {
    box-shadow: 25px 10px rgba(255, 255, 255, 0), 50px 10px rgba(255, 255, 255, 0), 0 -15px rgba(255, 255, 255, 0), 25px -15px rgba(255, 255, 255, 0), 50px -15px rgba(255, 255, 255, 0), 0 -40px rgba(255, 255, 255, 0), 25px -50px #90ce1c, 50px -50px #90ce1c;
  }
  90% {
    box-shadow: 25px 10px rgba(255, 255, 255, 0), 50px 10px rgba(255, 255, 255, 0), 0 -15px rgba(255, 255, 255, 0), 25px -15px rgba(255, 255, 255, 0), 50px -15px rgba(255, 255, 255, 0), 0 -40px rgba(255, 255, 255, 0), 25px -40px rgba(255, 255, 255, 0), 50px -50px #90ce1c;
  }
  95%, 100% {
    box-shadow: 25px 10px rgba(255, 255, 255, 0), 50px 10px rgba(255, 255, 255, 0), 0 -15px rgba(255, 255, 255, 0), 25px -15px rgba(255, 255, 255, 0), 50px -15px rgba(255, 255, 255, 0), 0 -40px rgba(255, 255, 255, 0), 25px -40px rgba(255, 255, 255, 0), 50px -40px rgba(255, 255, 255, 0);
  }
}
* {
  box-sizing: border-box;
}

p {
  text-align: center;
  color: white;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7a7a7a;
}

