 body{
            margin:0;
            background: #000000 linear-gradient(to left bottom, #065fe5, #9e3cc8, #d60096, #ec0059, #e50e17) no-repeat fixed center;
    
            text-align: center;	
	   
          }